* {
    padding:0;
    margin:0;
}
.lastevent{
	padding-left:15px;
	padding-right:15px;
}
.logo{
	border-radius: 50%;
	margin-top:5px;
}
body {
    font-family:tw cen mt;
    font-size:16px;
    background:#f2f2f2;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
.img_wrapper {	
    width:450px;
    max-width:85%;	
    padding:5px;
    margin:auto;
}
.form_wrapper {
    /*background:#fff;*/
	background: rgba(0,0,0,0.2);
    width:500px;
    max-width:100%;
	border-radius: 6px;
    box-sizing:border-box;
    padding:15px;
    margin:8% auto 0;
    z-index:1;
	margin-bottom:50px;
    -webkit-box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
    box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
}
.form_container {
    padding:15px;
    border:1px dashed #ccc;
}
.form_wrapper h2 {
    font-size:1.5em;
    line-height:1.5em;
    margin:0;
}
.form_wrapper .title_container {
    text-align:center;
	align-content:center;
    margin:-15px -15px 15px;
    padding:15px 0;
    border-bottom:1px dashed #ccc;
}
.form_wrapper h3 {
    font-size:1.1em;
    font-weight:normal;
    line-height:1.5em;
    margin:0;
}
.form_wrapper .row {
    margin:10px -15px;
}
.form_wrapper .row > div {
    padding:0 15px;
    box-sizing:border-box;
}
.form_wrapper .col_half {
    width:50%;
    float:left;
}
.form_wrapper label {
    display:block;
    margin:0 0 5px;
	color:#fff;
}
.form_wrapper .input_field, .form_wrapper .textarea_field {
    position:relative;
}
.form_wrapper .input_field > span, .form_wrapper .textarea_field > span {
    position:absolute;
    left:0;
    top:0;
    color:#333;
    height:100%;
    border-right:1px solid #ccc;
    text-align:center;
    width:30px;
}
.form_wrapper .textarea_field > span {
    border-bottom:1px solid #ccc;
    max-height:35px;
}
.form_wrapper .input_field > span > i, .form_wrapper .textarea_field > span > i {
    padding-top:12px;
}
.form_wrapper input[type="text"], .form_wrapper input[type="email"], .form_wrapper input[type="tel"], textarea, .form_wrapper input[type="password"], .form_wrapper .uname{
	color:#000;
    width:100%;
	border-radius: 6px;
    padding:10px 10px 10px 35px;
    border:1px solid #ccc;
    box-sizing:border-box;
    outline:none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
.form_wrapper textarea {
    height:8em;
}
.form_wrapper input[type="text"]:focus, .form_wrapper input[type="email"]:focus, .form_wrapper input[type="tel"]:focus, textarea:focus, .form_wrapper input[type="password"]:focus, .form_wrapper .uname:focus {
    -webkit-box-shadow:0 0 2px 1px rgba(255, 169, 0, 0.5);
    -moz-box-shadow:0 0 2px 1px rgba(255, 169, 0, 0.5);
    box-shadow:0 0 2px 1px rgba(255, 169, 0, 0.5);
    border:1px solid #f5ba1a;
	border-radius: 6px;
	color:#000;
}
.btn-logout{
	background:#EB0003 !IMPORTANT;
}
.btn-logout:hover{
	background:#D30003 !IMPORTANT;
}
.button-back{
	background:#00A3FF !IMPORTANT;
}
.button-back:hover{
	background:#008FE0 !IMPORTANT;
}
.form_wrapper input[type="submit"] {
    background:#f5ba1a;
    height:50px;
	border-radius: 6px;
	margin-top:15px;
    line-height:50px;
    width:100%;
    border:none;
    outline:none;
    cursor:pointer;
    color:#fff;
    font-size:1.2em;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
.form_wrapper input[type="submit"]:hover, .form_wrapper input[type="submit"]:focus {
    background:#daa106;
}
.credit{
    position:relative;
    z-index:1;
    text-align:center;
    padding:15px;
    color:#f5ba1a;  
}
.credit a{
    color:#daa106;  
}
@media (max-width: 600px) {
.lastevent{
	padding-left:0px;
	padding-right:0px;
}	
.form_wrapper .row {
    margin:0px;
}
.form_wrapper .col_half {
    width:100%;
    float:none;
}
.form_wrapper label {
    margin:10px 0;
	color:#fff;
}
.form_wrapper {
    /*background:#fff;*/
	background: rgba(0,0,0,0.2);
    width:500px;
    max-width:90%;
	border-radius: 6px;
    box-sizing:border-box;
    padding:15px;
    margin:16% auto 0;
    z-index:1;
	margin-bottom:50px;
    -webkit-box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
    -moz-box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
    box-shadow:0 23px 4px -21px rgba(0, 0, 0, 0.9);
}
}